<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPLE</key>
	<string>fruit-apple.png</string>
	<key>BANANA</key>
	<string>fruit-banana.png</string>
	<key>BLUEBERRY</key>
	<string>fruit-blueberry.png</string>
	<key>CHERRY</key>
	<string>fruit-cherry.png</string>
	<key>COCONUT</key>
	<string>fruit-coconut.png</string>
	<key>LEMON</key>
	<string>fruit-lemon.png</string>
	<key>LIME</key>
	<string>fruit-lime.png</string>
	<key>ORANGE</key>
	<string>fruit-orange.png</string>
	<key>PEACH</key>
	<string>fruit-peach.png</string>
	<key>PEAR</key>
	<string>fruit-pear.png</string>
	<key>PINEAPPLE</key>
	<string>fruit-pineapple.png</string>
	<key>STRAWBERRY</key>
	<string>fruit-strawberry.png</string>
	<key>WATERMELON</key>
	<string>fruit-watermelon.png</string>
	<key>BEAR</key>
	<string>animal-bear.png</string>
	<key>BULL</key>
	<string>animal-bull.png</string>
	<key>ELEPHANT</key>
	<string>animal-elephant.png</string>
	<key>GIRAFFE</key>
	<string>animal-giraffe.png</string>
	<key>LEOPARD</key>
	<string>animal-leopard.png</string>
	<key>LION</key>
	<string>animal-lion.png</string>
	<key>MONKEY</key>
	<string>animal-monkey.png</string>
	<key>REINDEER</key>
	<string>animal-reindeer.png</string>
	<key>RHINOCEROS</key>
	<string>animal-rhino.png</string>
	<key>SNAKE</key>
	<string>animal-snake.png</string>
	<key>WOLF</key>
	<string>animal-wolf.png</string>
	<key>ZEBRA</key>
	<string>animal-zebra.png</string>
</dict>
</plist>
