extends layout

block content
  body
    div#canvas

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/transforms.js")
    script(src="/js/utils.js")
    script(src="/socket.io/socket.io.js")
    script(src="/js/leapcanvas.js")
    script(src="/js/game-engine.js")
    script.
      //- var socket = io.connect('http://' + window.location.host);
      //- socket.on('command', function(data) {
      //-   console.log(data);
      //-   LeapEx.onCommand(data);
      //- });
      //- $(document).ready(function() {
      //-   LeapEx.init('#canvas', '#debug');
      //- });


