*
  padding: 0 !important
  margin: 0 !important
  -moz-user-select: -moz-none
  -webkit-user-select: none

html, body, #canvas
  height: 100%
  max-height: 800px
  max-width: 100%
  position: relative
  width: 100%


#canvas
  overflow: hidden
  *
    position: absolute !important
